body{
    background-color: rgb(66, 144, 212);
    
}

.cards{
    background-color: #fff;
    padding: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;

}
h3{
    text-align: center;
    color: #4872e4;
}
label{
    color: #e44848;
    font-weight: bold;
}

input{
    margin: 10px;
    width: 270px;
    border-radius: 5px;
    height: 25px;
    font-weight: bold;
}

button{
    margin: 10px;
    width: 120px;
    height:40px;
    color: rgb(221, 160, 236);
    padding:5px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background: #4872e4;

}

.cards:hover{
    box-shadow:1px 1px 10px 5px #c548e4;
}
button:hover{
    box-shadow:1px 1px 10px 5px #48b3e4;
}

input:focus{
    box-shadow:1px 1px 10px 5px #48b3e4;
    border: none;
    outline:none;
}

input:hover{
    box-shadow:1px 1px 10px 5px #cde448;
}